<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 sec:authorize="isAuthenticated()">Usuario logueado <span sec:authentication="name"></span></h1>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar Sesion</a>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>


    <a sec:authorize="hasRole('ROLE_admin')" href="#">Boton Admin</a>
    <a sec:authorize="hasRole('ROLE_user')"  href="#">Boton User</a>
</body>
</html>